@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


root{
 background-color: #fffbea;
}
/* 
body {
    @apply bg-custom-beige;
  } */

  @font-face {
    font-family: Spotify;
    src: url("./assets/fonts/CircularSpotifyText-Bold.otf") format("opentype");
  }
